---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
// const foregroundColor = "hsl(20,50%,50%)";
// const backgroundColor = "hsl(20,50%,90%)";

---

<MainLayout title="My Blog">
  <p >Blog</p>
</MainLayout>
