---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
// const foregroundColor = "hsl(20,50%,50%)";
// const backgroundColor = "hsl(20,50%,90%)";

---

<MainLayout title="My Blog">
  <ul>
    <li>
        <a href="./post-1.md">Post 1</a>
    </li>
  </ul>
</MainLayout>
