---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
// const foregroundColor = "hsl(20,50%,50%)";
// const backgroundColor = "hsl(20,50%,90%)";

---

<MainLayout title="My Blog">
  <p >hi from Home</p>
</MainLayout>

<!-- <style define:vars={{foregroundColor, backgroundColor }}>
  p {
    background-color: var(--backgroundColor);
    foregroundColor: var(--foregroundColor);
  }
</style> -->